<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<!-- <display-name>SpringMake</display-name> <welcome-file-list> <welcome-file>index.html</welcome-file> 
		<welcome-file>index.htm</welcome-file> <welcome-file>index.jsp</welcome-file> 
		<welcome-file>default.html</welcome-file> <welcome-file>default.htm</welcome-file> 
		<welcome-file>default.jsp</welcome-file> </welcome-file-list> -->

	<!-- 2. 디스패쳐서블릿이 동작되기 이전에 스프링설정 파일을 등록 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-servlet.xml
		</param-value>
	</context-param>
	

	<!-- 1. 스프링의 디스패쳐 서블릿을 등록 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/spring-servlet.xml
				/WEB-INF/spring/application-servlet.xml
				</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>